checkpoints/
midas/model-f46da743.pt
depthmerge/checkpoints/scaled_04_1024/
*.mp4
/results/*.mp4
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.ckpt
images/
depths/
mattes/
depthprocced/